PORT=3000
APP=academy
CORS=localhost
DB_DATABASE=academy
DB_DIALECT=mysql
DB_HOST=127.0.0.1 
DB_PASSWORD=
DB_PORT=3306
DB_USERNAME=root 
ENVIRONMENT=development 
LOG_LEVEL=debug 
SESSION_SECRET=secret
SECRET_KEY=9#rq9#u@Yz&3$Lp5SvA$T8?jN*GhXbE6wK
# Configuración CORS permitiendo acceso desde localhost:4200
CORS=http://localhost:4200